.menu_active{
  font-weight: bold;
  border-bottom: 1px solid rgb(255, 0, 0);
  color: red;
}

.navbar-brand {
  color: red;
}

.nav-link {
color: grey;
}

.editRow{
  padding-top: 10rem !important;
}

.btn{
  border-radius: 5rem;
  transition: 0.30s ease-in-out;
}